@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* colors */
  --darker-color: #646464;
  --dark-color: #8a8a8a;
  --light-color: #f7f7f7;
  --lighter-color: #ffffff;
  --highlight-color: #ec4a4a;

  /* font sizes */
  --root-font-size: 16px;

  /* font-families */
  --font-family:  "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--light-color);
  color: var(--darker-color);
  font-family: var(--font-family);
  font-size: var(--root-font-size);
}

h1 {
  font-size: 1.125rem;
  line-height: 1.6;
}

h2 {
  font-size: var(--root-font-size);
}

ul {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--lighter-color);
  width: fit-content;
  margin: 3rem auto;
  flex-wrap: wrap;
  
}

.player,
.playlist {
  background-color: var(--light-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  padding: 1rem;
  border: 1px solid rgba(185, 185, 185, 0.1);
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.player-bar {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
}

.fcc-title,
.playlist-title {
  color: var(--dark-color);
}

.player-content {
  display: flex;
  background-color: var(--highlight-color);
  width: 430px;
  height: 200px;
  border-radius: 0.5rem;
  column-gap: 13px;
  align-items: center;
  justify-content: center;
}

.player-album-art {
  background-color: var(--lighter-color);
  border: 6px solid var(--lighter-color);
  border-radius: 0.3rem;
}

.player-album-art img {
  width: 150px;
  border-radius: 0.2rem;
  display: block;
}

.player-display {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 14px;
  background-color: var(--lighter-color);
  height: 153px;
  width: 226px;
  border-radius: 0.3rem;
}

.player-display-song-artist {
  height: 80px;
}

.player-buttons svg {
  fill: var(--darker-color);
}

.playing > svg {
  fill: var(--highlight-color);
}

.player-buttons {
  display: flex;
  justify-content: space-around;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline-color: var(--highlight-color);
}

.playlist-song {
  outline-color: var(--highlight-color);
}

/* Playlist */
.playlist {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#playlist-songs {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px 9px;
  visibility: visible;
  justify-content: start;
  list-style: none;
}

.playlist-song {
  display: flex;
  height: 55px;
  align-items: center;
  padding: 0.4rem;
  border-radius: 0.5rem;
  gap: 0.8rem;
}

[aria-current="true"] {
  background-color: var(--highlight-color);
  transition: all 0.3s ease-in-out;
}

[aria-current="true"] button {
  color: var(--light-color);
  transition: all 0.3s ease-in-out;
}

.playlist-song-info {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 7px;
  padding: 5px 0;
  font-family: var(--font-family);
}

#player-song-title,
#player-song-artist {
  margin: 0;
}

#player-song-artist {
  color: var(--highlight-color);
  font-size: 0.75rem;
}

#player-song-title {
  font-size: 1.125rem;
}

.playlist-song-title {
  font-size: 0.85rem;
  width: 241px;
  text-align: left;
}

.playlist-song-artist {
  font-size: 0.725rem;
  width: 80px;
}

.playlist-song-duration {
  font-size: 0.725rem;
  margin: auto;
  font-family: var(--font-headline);
  width: 30px;
}

.playlist-song-delete {
  padding: 0;
  width: 20px;
  height: 20px;
}

.playlist-song-delete circle {
  fill: var(--dark-color);
}

.playlist-song-delete:hover circle,
.playlist-song-delete:focus circle {
  fill: #ff0000;
  transition: all 0.3s;
}

@media (max-width: 700px) {

  body {
    background-color: var(--highlight-color);
  }

  .container {
    margin: 0 auto;
  }

  .player,
  .playlist {
    width: 300px;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.3);
  }


  #playlist-songs {
    height: 280px;
    padding: 5px 6px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--dark-color) var(--light-color);
    scrollbar-width: thin;
  }

  #playlist-songs::-webkit-scrollbar {
    width: 5px;
  }

  #playlist-songs::-webkit-scrollbar-track {
    background: var(--lighter-color);
  }

  #playlist-songs::-webkit-scrollbar-thumb {
    background: var(--dark-color);
  }

  h1 {
    font-size: 0.813rem;
  }

  h2 {
    font-size: 0.75rem;
  }

  .player-buttons svg {
  fill: var(--light-color);
  }

  .playing > svg {
  fill: var(--highlight-color);
}

  .player-bar,
  .playlist-bar,
  .player-content,
  #playlist-songs {
    width: 280px;
  }

  .playlist-song {
    justify-content: space-between;
    gap: 0.2rem;
  }

  .playlist-song-title {
    width: 140px;
  }

  .playlist-song-artist {
    width: 40px;
  }

  .playlist-song-duration > button {
    padding: 0;
  }

  .player-content {
    display: inline;
    position: relative;
    justify-items: center;
    height: 100%;
    border-radius: 0.6rem;
  }

  .player-album-art {
    z-index: -100;
    box-shadow: none;
    background: #000;
    border: none;
    border-radius: 0.6rem;
  }

  .player-album-art img {
    width: 100%;
    opacity: 0.6;
    border-radius: 0.6rem;
  }

  .player-display-song-artist {
    padding: 0 10px;
    color: var(--light-color);
  }

  .player-display-song-artist > p {
    white-space: pre-wrap;
  }

  .player-display {
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    top: 0;
    height: 280px;
    justify-content: space-between;
    text-align: center;
  }
}